.wrapper{max-width: 500px; background: var(--color-lime); width: 500px; height: auto;}
.main-title h2{font-size: 20px; }

/* Header style*/
header{z-index: 1000;}
.header{width: 100%; padding: var(--el-small) var(--el-medium);}
.header .header-wrapper{width: 100%;}
.header .header-wrapper ul{display: flex; justify-content: space-between; align-items: center;width: 100%;}
.header .header-wrapper .menu i{font-size: var(--el-medium); color: #fff;  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3); cursor: pointer;}
.header .header-wrapper .logo a{font-size: 1.25rem; color: #fff; text-shadow: 0 4px 5px rgba(0, 0, 0, 0.2); font-weight: 800; cursor: pointer; z-index: 1000;}
.header .header-wrapper .panda-icon{border-radius: 50%; background: var(--color-gr); width: 40px; height: 40px; position: relative;}
.header .header-wrapper .panda-icon a{position: absolute; display: flex; align-items: center; justify-content: center; top: 50%; transform: translate(-50%, -50%); left: 50%; cursor: pointer;}
.header .header-wrapper .panda-icon img{width: 28px; }

/* Main Page style */
.camp-img{display: flex; align-items: center; justify-content: center; position: relative; pointer-events: none;}
.camp-img img{width: 380px;}


.main-section .main-box{background: #fff; position: relative;  width: 100%; border-radius: var(--el-wide) var(--el-wide) 0 0; padding: var(--el-wide); display: flex; flex-direction: column; justify-content: center; row-gap: var(--el-wide); z-index: 10; }
/* .main-box > a{padding:;} */
.main-box .search-me{border-radius: 0.5rem; display: flex; align-items: center; justify-content: space-between; background: var(--color-yel); padding: var(--el-medium) var(--el-wide); width: 100%; }
.main-box .search-me .main-title p{font-size: 14px;}
.main-box .search-me .location-icon{border-radius: 50%; background: var(--color-pk); width: 40px; height: 40px; position: relative;}
.main-box .search-me .location-icon a{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: flex; align-items: center; justify-content: center; font-size: var(--el-medium); color: #fff;}

.main-box .search-keyword{row-gap: 1rem; display: flex; flex-direction: column;}
.main-box .search-keyword .keyword-box{display: flex; align-items: center; justify-content: space-between;}
.main-box .search-keyword .keyword-box .flex-box{display: flex; align-items: center; column-gap: var(--el-small);  justify-content: end;}
.main-box .keyword-box h3{font-size: 16px; width: 85px;}
.main-box .keyword-box input,
.main-box .keyword-box select{background: #dfdfdf; padding: 0.875rem; border-radius: 0.5rem; font-size: 14px; border: none; width: 38%; color: #666; font-family: 'GmarketSansMedium';}
.main-box .keyword-box:nth-child(1) input{width: 50%;}
.main-box .keyword-box:nth-child(2) .flex-box{width: 70%;}
.main-box .keyword-box .submit-btn{width: 20%; background: var(--color-gr); color: #fff; cursor: pointer;}
.main-box .keyword-box:nth-child(2) input.theme{width: 80%;}

.main-box .recommended .swiper{margin: var(--el-small) 0 var(--el-wide);}
.main-box .recommended .swiper-slide{position: relative; display: flex; align-items: center; justify-content: center; }
.main-box .recommended .swiper-slide p{position: absolute; z-index: 20; color: #fff; bottom: 15px; font-size: 12px; text-shadow: 0 4px 5px rgba(0, 0, 0, 0.4); text-align: start; padding: .25rem;}
.main-box .recommended .swiper-slide .img-wrapper{border-radius: .5rem; width: 139px; height: 110px; overflow: hidden;}
.main-box .recommended .swiper-slide img{ object-fit: cover; overflow: hidden; width: 100%; height: 100%;}

