/* Map page style */
.map-page{_background-color: #fff; _background-image: url(/panda_camping/images/map_background.png); height: 92vh; margin: auto;}

header{background: var(--color-lime);}
.map-page .container{position: relative; display: flex; flex-direction: column; align-items: center; justify-content: center; margin: auto;}
.map-page .distance-wrapper{display: flex; align-items: center; justify-content: center; column-gap: var(--el-small); margin-top: var(--el-medium);}
.map-page .distance-wrapper .distance-btn{padding: 0.75rem; border-radius: 1.5rem; background: var(--color-pk); transition: all 0.3s;}
.map-page .distance-wrapper .distance-btn a{color: #fff; font-size: 14px;}
.map-page .distance-wrapper .distance-btn:hover{background: #fff;}
.map-page .distance-wrapper .distance-btn:hover a{color: var(--color-pk);}
.item-wrapper{position: fixed; bottom: var(--el-wide); width: 400px; }
.item-wrapper .map-swiper .swiper-slide{ background: #fff; display: flex; flex-direction: column; align-items: center; justify-content: center; border-radius: var(--el-medium); }

.item-wrapper .map-swiper .swiper-slide .img-wrapper img{width: 300px; height: 120px; object-fit: cover; overflow: hidden; }
.item-wrapper .swiper-slide,
.item-wrapper .swiper-slide .text-wrapper{display: flex; flex-direction: column; align-items: center; justify-content: center; row-gap: 0.5rem;}
.item-wrapper .swiper-slide .text-wrapper{font-size: 16px; font-weight: 600;}
.item-wrapper .swiper-slide .more-btn{width: 100%; background: var(--color-yel); padding: var(--el-small); border-radius: 0 0 var(--el-medium) var(--el-medium) ; display: flex; align-items: center; justify-content: center; }
.item-wrapper .swiper-slide .img-wrapper{padding: var(--el-small); padding-top: 0;}
.item-wrapper .swiper-slide .tel-wrapper{padding-bottom: var(--el-small);}
.item-wrapper .swiper-slide .text-wrapper span{font-size: 14px;}
.item-wrapper .swiper-slide .tel-wrapper,
.item-wrapper .swiper-slide .adr-wrapper{display: flex; align-items: center; justify-content: center;}

.item-wrapper .swiper-slide .arr-wrapper{display: flex; align-items: center; font-size: 20px;}



