/* Map page style */
.map-page {
  height: 92vh;
  margin: auto;
}

header {
  background: var(--color-lime);
}
.map-page{position: absolute;}
.map-page .container {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: auto; left: 0; top: 5rem;
}
.map-page .distance-wrapper {
  display: flex;
  justify-content: center;
  column-gap: var(--el-small);
  margin-top: var(--el-medium);
  z-index: 1000;
  top: 0; left: 0;
}
.map-page .distance-wrapper .distance-btn {
  padding: 0.75rem;
  border-radius: 1.5rem;
  background: var(--color-pk);
  transition: all 0.3s;
}
.map-page .distance-wrapper .distance-btn a {
  color: #fff;
  font-size: 14px;
}
.map-page .distance-wrapper .distance-btn:hover {
  background: #fff;
}
.map-page .distance-wrapper .distance-btn:hover a {
  color: var(--color-pk);
}
.item-wrapper {
  position: fixed;
  bottom: var(--el-wide);
  width: 400px;
  z-index: 10;
}
.item-wrapper .map-swiper .swiper-slide {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--el-medium);
}

.item-wrapper .map-swiper .swiper-slide .img-wrapper img {
  width: 300px;
  height: 120px;
  object-fit: cover;
  overflow: hidden;
}
.item-wrapper .swiper-slide,
.item-wrapper .swiper-slide .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}
.item-wrapper .swiper-slide .text-wrapper {
  font-size: 16px;
  font-weight: 600;
}
.item-wrapper .swiper-slide .more-btn {
  width: 100%;
  background: var(--color-yel);
  padding: var(--el-small);
  border-radius: 0 0 var(--el-medium) var(--el-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-wrapper .swiper-slide .img-wrapper {
  padding: var(--el-small);
  padding-top: 0;
}
.item-wrapper .swiper-slide .tel-wrapper {
  padding-bottom: var(--el-small);
}
.item-wrapper .swiper-slide .text-wrapper span {
  font-size: 14px;
}
.item-wrapper .swiper-slide .tel-wrapper,
.item-wrapper .swiper-slide .adr-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper .swiper-slide .arr-wrapper {
  display: flex; padding-top: 0.25rem;
  align-items: center; cursor: pointer;
  font-size: 20px; width: 100%; height: auto; justify-content: center;
}

.item-wrapper .map-swiper{height: auto;}
.map-swiper.active .img-wrapper, 
.map-swiper.active .text-wrapper, 
.map-swiper.active .more-btn{display: none;}
.map-swiper.active .arr-wrapper{padding: 0.5rem 0; background-color: var(--color-yel); border-radius: 1rem; }