/* Font */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Reset Style */
*{margin: 0; padding: 0; box-sizing: border-box;}
body{font-family: 'GmarketSansMedium', sans-serif; background-color: #fff; font-size: 16px;  color: #111; display: flex; justify-content: center; height: auto;}
.wrapper{overflow-x: hidden;}

ol, ul{list-style: none;}
a{text-decoration: none; color: #333;}
img{display: block; width: 100%; overflow: hidden;}
em, strong, i, b{font-style: normal; font-weight: normal;}
button, input, textarea{border:none; outline: 0; background: none; font-family: 'GmarketSansMedium', sans-serif; font-size: 16px;}
/* Main Root Style */
:root{

  /* Color */
  --color-lime: #C7D36F;
  --color-gr: #9EB23B;
  --color-yel: #FCF9C6;
  --color-pk: #FF8787;

  /* padding */
  --el-wide: 2rem;
  --el-medium: 1.5rem;
  --el-small: 1rem;
  --el-main: 4rem;
  --el-cont: 7.5rem;


}
/* common style */
.container, .section{width: 100%; height: auto; margin: auto; padding: 0 ;}

